[Desktop Entry]
Name=Bakaneko
Comment=A server management tool
Version=1.0
Exec=bakaneko-client
Icon=me.link1j.bakaneko
Type=Application
Terminal=false
Categories=Network;
