[Desktop Entry]
Name=server_manager
Comment=server_manager Kirigami Application
Version=1.0
Exec=server_manager
Icon=applications-development
Type=Application
Terminal=false
Categories=
